<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Become a driver</title>
</head>

<body>
    <div class="container">
        <form class="form-register" method="post">
            {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif%}
            {% csrf_token %}
            <h3 class="text-center">Become a good driver!</h3>
            <div class="form-group">
                <label for="id_platenum">Placte Number:</label>
                <input type="text" name='platenum' class="form-control" id="id_platenum"
                    placeholder="Your license plate number" autofocus required>
            </div>
            <div class="form-group">
                <label for="id_type">Car Type:</label>
                <input type="text" name='cartype' class="form-control" id="id_type" placeholder="Your Car Type"
                    required>
            </div>
            <div class="form-group">
                <label for="id_type">Car Capacity:</label>
                <input type="number" name='capacity' class="form-control" id="id_type"
                    placeholder="How many people you can carry?" required>
            </div>
            <div class="form-group">
                <label for="id_specialinfo">Special Information:</label>
                <input type="text" name='specialinfo' class="form-control" id="id_specialinfo"
                    placeholder="Optional, type anything if you like">
            </div>
            <div>
                <a href="/index/{{user.pk}}/" class="text-success "><ins>Back to Home Page</ins></a>
                <button type="submit" class="btn btn-primary float-right">Register as driver</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>