<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>join a ride</title>
</head>

<body>
    <h1>Join a ride</h1>
    <a href="{% url 'rideshare:logout' %}">
        <button>Log out</button>
    </a>
    {% if message %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endif%}
    <br>
    <a href="/index/{{user.pk}}/" class="text-success "><ins>Back to Home Page</ins></a>
    
</body>

</html>