<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>my confirmed rides</title>
</head>

<body>
    <h3> My confirmed pickups </h3>
    <table>
        <tr>
            <th>Driver</th>
            <th>Plate Number</th>
            <th>Car Type</th>
            <th>Destination</th>
            <th>Arrival Time</th>
            <th># Passengers</th>
            <th>Ride Owner</th>
            <th>Ride Sharer</th>
            <th>Action</th>
        </tr>
        {% for ride in confirmed_orders %}
        <tr>
            <td>{{ride.drivercar.name}}</td>
            <td>{{ride.drivercar.platenum}}</td>
            <td>{{ride.drivercar.cartype}}</td>
            <td>{{ride.dest}}</td>
            <td>{{ride.arrivaltime}}</td>
            <td>{{ride.headcount}}</td>
            <td>{{ride.user.name}}</td>
            <td>
                {% if ride.sharedorder_set.all %}
                {% for sharer in ride.sharedorder_set.all %}
                {{sharer.user.name}}
                {% endfor %}
                {% else %}
                No Sharer
                {% endif %}
            </td>
            <td><a href="/index/{{user.pk}}/myconfirmedpickup/{{ride.pk}}/complete/">Mark as complete</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/index/{{user.pk}}/ordertake/">Back</a>
</body>

</html>