<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>my open rides</title>
</head>

<body>
    <h3> My Open Rides </h3>
    <table>
        <tr>
            <th>Destination</th>
            <th>Arrival Time</th>
            <th>Sharable</th>
            <th># Passengers</th>
            <th>Ride Owner</th>
            <th>Ride Sharer</th>
            <th>Action</th>
        </tr>
        {% for ride in open_orders %}
        <tr>
            <td>{{ride.dest}}</td>
            <td>{{ride.arrivaltime}}</td>
            {%if ride.sharable %}
            <td>Yes</td>
            {%else%}
            <td>No</td>
            {%endif%}
            <td>  {{ride.headcount}}</td>
            <td>{{ride.user.name}}</td>
            <td>
                {% if ride.sharedorder_set.all %}
                {% for sharer in ride.sharedorder_set.all %}
                {{sharer.user.name}}
                {% endfor %}
                {% else %}
                No Sharer
                {% endif %}
            </td>
            {% if user == ride.user %}
            <td><a href="/index/{{user.pk}}/myopenrides/{{ride.pk}}/edit">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <a href="/index/{{user.pk}}/myrides/">Back</a>
</body>

</html>