<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>myrides</title>
</head>

<body>
    <h1>View/Edit my rides</h1>
    {% if message %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endif%}
    <a href="/index/{{user.pk}}" class="text-success"><ins>Back to Home Page</ins></a>
    <br>
    <a href="/index/{{user.pk}}/myopenrides/" class="text-success"><ins>View/Edit my open rides</ins></a>
    <br>
    <a href="/index/{{user.pk}}/myconfirmedrides/" class="text-succces"><ins>View my confirmed rides</ins></a>
</body>

</html>