<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Sign-up</title>
</head>

<body>
    <div class="container">
        <form class="form-register" action="/register/" method="post">
            {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif%}
            {% csrf_token %}
            <h3 class="text-center">Welcome to register!</h3>
            <div class="form-group">
                <label for="id_username">Username:</label>
                <input type="text" id="id_username" name="username" placeholder="Your Username" autofocus required>
            </div>
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="text" name='email' class="form-control" id="id_email" placeholder="Your Email Address"
                    required>
            </div>
            <div class="form-group">
                <label for="id_password1">Password:</label>
                <input type="text" id="id_password1" placeholder="Your Password" name="password1" required>
            </div>
            <div class="form-group">
                <label for="id_password2">Re-enter Password:</label>
                <input type="text" id="id_password2" placeholder="Re-enter Your Password" name="password2" required>
            </div>
            <div>
                <a href="/login/"><ins>Areadly have an account? Direct Log in</ins></a>
                <button type="submit" class="btn btn-primary float-right">Submit Form</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>