<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Userprofile</title>
</head>

<body>
    <div class="container">
        <form class="form-register" method="post">
            {% csrf_token %}
            {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif%}
            <h3 class="text-center">Your user profile</h3>
            <div class="form-group">
                <label for="id_username">Username:</label>
                <input type="text" name='username' class="form-control" id="id_username"
                    placeholder= {{user.name}} autofocus value={{user.name}} required>
            </div>
            <p> Your email is {{user.email}}</p>

            <div class="form-group">
                <label for="id_password">Password:</label>
                <input type="text" name='password' class="form-control" id="id_password"
                    placeholder={{user.password}} value={{user.password}} required>
            </div>
            <p> You are a normal user!</p>
            
            {% if user.role == "D" %}
            <p> You are aslo a driver!</p>
            <div class="form-group">
                <label for="id_platenum">Plaate Number:</label>
                <input type="text" name='platenum' class="form-control" id="id_platenum"
                    placeholder={{driver.platenum}} autofocus value={{driver.platenum}} required>
            </div>
            <div class="form-group">
                <label for="id_type">Car Type:</label>
                <input type="text" name='cartype' class="form-control" id="id_type" 
                placeholder={{driver.cartype}} value={{driver.cartype}} required>
            </div>
            <div class="form-group">
                <label for="id_type">Car Capacity:</label>
                <input type="number" name='capacity' class="form-control" id="id_type"
                    placeholder={{driver.capacity}} value={{driver.capacity}} required>
            </div>
            <div class="form-group">
                <label for="id_specialinfo">Special Information:</label>
                <input type="text" name='specialinfo' class="form-control" id="id_specialinfo"
                 value={{driver.specialinfo}}>
            </div>
            {% endif %}
            <div>
                <a href="/index/{{user.pk}}" class="text-success "><ins>Back to Home Page</ins></a>
                <button type="submit" class="btn btn-primary float-right">Save changes</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>